<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {# {% include './common/header.html.twig' %} correspond à une déclaration de récupération d'un fichier #}
        {# {{ include('./common/header.html.twig') }} correspond à la fonction include qui peut avoir des paramtères pour le fichier à inclure #}

        {{ include('./common/header.html.twig') }}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {{ include('./common/footer.html.twig') }}
    </body>
</html>
